.c-card{
  display:block;
  background-color: white;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 5px 38px 201px 6px rgba(0,0,0,0.63);
  -webkit-box-shadow: 5px 38px 201px 6px rgba(0,0,0,0.63);
  -moz-box-shadow: 5px 38px 201px 6px rgba(0,0,0,0.63);
}