.c-nav-bar{
  display: block;
  position: sticky;
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  padding: 16px;
  font-family: 'Dela Gothic One', cursive;
  font-family: 'Martian Mono', monospace;
}